html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(36,95,166), rgb(32,85,149));
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  color: white;
  display: inline-block;
  font-size: 2em;
  border: 2px solid rgb(143,218,5);
  padding: 5px;
}

#header {
  display: flex;
  align-items: center;
  padding: 25px;
  background: rgb(23,26,30);
}

#quote {
  color: white;
  margin-left: 15px;
  font-style: italic;
  font-size: 1.125em;
}

button {
  border: 0;
  background: none;
  background: rgb(130,198,4);
  border-radius: 2px;
  color: white;
  font-size: 1.125em;
  padding: 10px 20px;
  margin-left: auto;
  box-sizing: border-box;
  height: 58px;
  outline: none;
  transition: background 0.25s;
}

button:hover {
  cursor: pointer;
  background: rgb(116,176,4);
  transition: background 0.25s;
}

footer {
  padding: 25px;
  background: rgb(30,80,140);
  margin-top: auto;
}

footer p {
  color: white;
  text-align: center;
}